@model PortfolioBuilder1.Models.Project

@{
    ViewData["Title"] = "User Details";
}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card shadow">

                <div class="card-header bg-dark text-white">
                    <h2>Detail User</h2>
                </div>

                <div class="card-body">
                @* <div class="card p-3"> *@
<div>
    <p><b>Project Name:</b> @Model.ProjectName</p>
    <p><b>Description:</b> @Model.Description</p>
    <p><b>Technology:</b> @Model.Technology</p>
    <p><b>Link:</b> @Model.Link</p>
                    </div>
</div>

<a asp-action="Index" class="btn btn-secondary mt-2">Back</a>
            </div>
        </div>
    </div>
</div>
