@model PortfolioBuilder1.Models.User

@{
    ViewData["Title"] = "User Details";
}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card shadow">

                <div class="card-header bg-dark text-white">
                    <h2>Detail User</h2>
                </div>
                
@* <form asp-action="Create" method="post"> *@
                <div class="card-body">

<div>
    <p><strong>Full Name:</strong> @Model.FullName</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Password:</strong> @Model.Password</p>
</div>

<a asp-action="Index" class="btn btn-secondary">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
